<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

	<title> BlueERP - Dashboard</title>
	
	<!-- STYLESHEETS -->
	<link th:href="@{../base/assets/stylesheets/bootstrap.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{../base/assets/stylesheets/pixel-admin.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{../base/assets/stylesheets/widgets.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{../base/assets/stylesheets/rtl.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{../base/assets/stylesheets/themes.min.css}" rel="stylesheet" type="text/css" />
	
	<!-- SCRIPT -->
	<script th:inline="javascript">
	/*<![CDATA[*/
	           
	
	/*]]>*/
	</script>
	
	<body class="theme-default main-menu-animated">
	
	</body>      
</html>